<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @tipo_area_comum.codigo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_area_comum.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_area_comum_path(@tipo_area_comum) %> |
<%= link_to 'Back', tipo_area_comuns_path %>
