<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @area_comum.codigo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @area_comum.descricao %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @area_comum.localizacao %>
</p>

<p>
  <strong>Quantidade reserva:</strong>
  <%= @area_comum.quantidade_reserva %>
</p>

<p>
  <strong>Tipo area comum:</strong>
  <%= @area_comum.tipo_area_comum %>
</p>

<%= link_to 'Edit', edit_area_comum_path(@area_comum) %> |
<%= link_to 'Back', area_comuns_path %>
